footer.footer
  .w-container
    div
      .w-row
        .w-col.w-col-8
          .social-link-group
            a.social-icon-link.w-inline-block href="#" 
              img src="http://uploads.webflow.com/56d3f1b99aaa616f508a6253/56d3f1b99aaa616f508a62e1_social-30-white.svg" width="25" /
        .align-content-right.w-clearfix.w-col.w-col-4
          a.footer-link href="#header"  ↑ Go to top
