    <footer class="footer">
      <div class="w-container">
        <div>
          <div class="w-row">
            <div class="w-col w-col-8">
            <div class="social-link-group">
            <a class="social-icon-link w-inline-block" href="#"><img src="http://uploads.webflow.com/56d3f1b99aaa616f508a6253/56d3f1b99aaa616f508a62c8_social-03-white.svg" width="25"></a>
            <a class="social-icon-link w-inline-block" href="#"><img src="http://uploads.webflow.com/56d3f1b99aaa616f508a6253/56d3f1b99aaa616f508a62e6_social-18-white.svg" width="25"></a>
            <a class="social-icon-link w-inline-block" href="#"><img src="http://uploads.webflow.com/56d3f1b99aaa616f508a6253/56d3f1b99aaa616f508a62d0_social-15-white.svg" width="25"></a>
            <a class="social-icon-link w-inline-block" href="#"><img src="http://uploads.webflow.com/56d3f1b99aaa616f508a6253/56d3f1b99aaa616f508a62f6_social-07-white.svg" width="25"></a>
            <a class="social-icon-link w-inline-block" href="#"><img src="http://uploads.webflow.com/56d3f1b99aaa616f508a6253/56d3f1b99aaa616f508a6278_social-14-white.svg" width="25"></a>
            <a class="social-icon-link w-inline-block" href="#"><img src="http://uploads.webflow.com/56d3f1b99aaa616f508a6253/56d3f1b99aaa616f508a62e8_social-09-white.svg" width="25"></a>
            <a class="social-icon-link w-inline-block" href="#"><img src="http://uploads.webflow.com/56d3f1b99aaa616f508a6253/56d3f1b99aaa616f508a62e1_social-30-white.svg" width="25"></a>
            </div>
            </div>
            <div class="align-content-right w-clearfix w-col w-col-4"><a class="footer-link" href="#header">↑&nbsp;Go to top</a></div>
          </div>
        </div>
      </div>
    </footer>