    <div class="navigation-bar w-nav" data-animation="default" data-collapse="medium" data-contain="1" data-duration="400">
    <div class="w-container" id="header">
        <%= link_to root_path, :class => "site-name-link w-nav-brand" do %>
          <div class="site-name">杂耍</div>
        <% end %>
        <nav class="navigation-menu w-nav-menu" role="navigation">
          <%= link_to "首页", root_path, :class => "nav-link w-nav-link", :style => "max-width: 940px;" %>
          <%= link_to "贴子", articles_path, :class => "nav-link w-nav-link", :style => "max-width: 940px;" %>
          <a class="nav-link w-nav-link" href="/about" style="max-width: 940px;">关于</a>
          <a class="nav-link w-nav-link" href="/contact" style="max-width: 940px;">联系我</a>
        </nav>
        <div class="menu-button w-nav-button"><div class="w-icon-nav-menu"></div></div>
    </div>
    <div class="w-nav-overlay" data-wf-ignore=""></div>
    </div>