<div class="content-wrapper">
   <div class="w-container">
      <h1 class="section-header">标签</h1>
      <div class="w-dyn-list">
         <div class="w-dyn-items">
            <div class="w-dyn-item">
               <div class="post-wrapper" style="border-bottom:0px;margin:0px 7% 40px;">
                  <div>
                     <div class="post-info-wrapper">
                        <% @tags.each do |tag| %>
                           <%= link_to "#{tag.name}(#{tag.taggings_count})", articles_path(tag: tag.name), :class => "post-info" %>
                        <% end %>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>